{% extends 'places_core/base.html' %}{% load staticfiles i18n civil_tags %}
{% block geometa %}{% if location.latitude and location.longitude %}<meta name="DC.title" content="{{ location }}" />
<meta name="geo.region" content="{{ location.country_code }}" />
<meta name="geo.placename" content="{{ location.name }}" />
<meta name="geo.position" content="{{ location.latitude }};{{ location.longitude }}" />
<meta name="ICBM" content="{{ location.latitude }}, {{ location.longitude }}" />{% endif %}{% endblock %}
{% block require_scripts %}<script src="{% static 'places_core' %}/js/{% js_path %}/location-default.js"></script>{% endblock %}

{% block header %}<style type="text/css">
.location-logo {
    background-image: url({{ object.background_url }});
}
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
    .location-logo {
        background-image: url({{ object.retina_background_url }});
    }
}
</style>
<nav id="location-chain-menu" class="navbar navbar-default" role="navigation">
<div class="container">
<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
    
    <ul class="nav navbar-nav">
        <li class="first-indicator"><a href="/places/"><div class="maker-globe-point"><img src="{% static 'places_core' %}/img/globe_point.png"></div></a></li>
        {% for parent in location.get_parent_chain %}
        <li><a href="{{ parent.url }}">{{ parent.name }}</a></li>
        <li class="breaker">
            <a href="#" class="sublocation-menu-toggle" data-target="{{ parent.pk }}" data-toggle="dropdown">&gt;</a></li>
        {% endfor %}
        <li><a href="{{ location.get_absolute_url }}">{{ location }}</a></li>
        <li class="breaker"><a href="#">&gt;</a></li>
        <li class="active"><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
    </ul>
    
</div>
</div>
</nav>
<div class="location-logo">
    <div class="container" style="height: 100%; position: relative;">
        <div class="title-container"> 
            <div class="location-name-title" id="tour-location-name">{{ object }}</div>
            <div class="followers sprite-icon"><span class="ch-icon ch-followers-white"></span>{{ object.participants.all|length }}</div>            
            {% if user in location.users.all %}<button type="button" class="btn-unfollow-location" data-location-id="{{ location.pk }}">{% trans "You are following" %}</button>
            {% else %}<button type="button" class="btn-follow-location" data-location-id="{{ location.pk }}">{% trans "Follow" %}</button>
        {% endif %}</div>
        {% if user.is_superuser or is_moderator %}<a class="change-background-btn" href="{% url 'locations:background' location.pk %}">{% trans "Change background image" %}</a>{% endif %}
    </div>
</div>
<nav id="location-navbar" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-location-collapse-menu">
              <span class="sr-only">{% trans "Toggle navigation" %}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        <div class="collapse navbar-collapse" id="bs-location-collapse-menu">
            <ul class="nav navbar-nav">
                <li><a href="{{ location.get_absolute_url }}" id="tour-Summary">{% trans "Summary" %}</a></li>
                <li><a href="{% url 'locations:news' location.slug %}" id="tour-Blog"></span>{% trans "Blog" %}</a></li>
                <li><a href="{% url 'locations:discussions' location.slug %}" id="tour-Discussions">{% trans "Discussions" %}</a></li>
                <li><a href="{% url 'locations:ideas' location.slug %}" id="tour-Ideas">{% trans "Ideas" %}</a></li>
                <li><a href="{% url 'locations:polls' location.slug %}" id="tour-Polls">{% trans "Polls" %}</a></li>
                <li><a href="{% url 'locations:project_list' location.slug %}">{% trans "Projects" %}</a></li>
                <li><a href="#"> {% trans "Documents" %}</a>{% comment %}<span class="navbar-soon">(soon)</span>{% endcomment %}</li>
                <li><a href="{% url 'locations:gallery' location.slug %}" id="tour-Gallery">{% trans "Gallery" %}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'locations:followers' location.slug %}" id="tour-Followers">{% trans "Followers" %}</a></li>
                <li><a href="{% url 'locations:sublocations' location.slug %}" id="tour-Subspaces">{% trans "Subspaces" %}</a></li>
            </ul>
        </div>
    </div>
</nav>
<input type="hidden" id="current-location-pk" value="{{ location.pk }}" />{% endblock %}